/**
*** @name:    sufixo da classe
*** @i:       indice do sufixo
*** ...       lista de 3 cores
***
*** Exemplo: .swatch(vtex; 1; @cor1; @cor2; @cor3);
*** Resultado:
*** &.swatch-vtex-1 { background-color: #111; }
*** &.swatch-vtex-2 { background-color: #222; }
*** &.swatch-vtex-3 { background-color: #333; }
**/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", "Arial Narrow", sans-serif;
}


body {
  background-color: #f4f7fa;
  color: #5c6f7f;
  font-family: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.orange-bg {
  background-color: #f68222;
}

.orange-text {
  color: #f68222;
}

.orange-border {
  border: #f68222;
}

.blue-bg {
  background-color: #003b5e;
}

.blue-text {
  color: #003b5e;
}

.blue-border {
  border: #003b5e;
}

.green-bg {
  background-color: #3aa850;
}

.green-text {
  color: #3aa850;
}

.red-bg {
  background-color: #f7645e;
}
